# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Config
config.json
config.yaml
config.yml
config.toml

# Database
data/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Puppeteer
.puppeteer/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
